.productPage {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
}

.cart {
    height: calc(100svh - 4em);
}